body {
  background-color: #867A6D;
  font-family: monospace;
  height: 100%;
  padding-top: 70px;
}

footer {
  background-color: #343A40;
  color: #999c9f;
  width: 100%;
  bottom: 0;
  padding-left: 20px;
  margin-top: 20px;
  position: fixed;
}

footer [href] {
  color: #999c9f;
}

/* sets custom min-width for bootstrap navbar */
@media (min-width: 667px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
  }

  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}
/* hides large screen resume header on small screens */
@media (max-width: 667px) {
  .hideMobile {
    display: none !important;
  }

  /* 
  invisible div at bottom of screen to replace
  button space on small screens
   */
  .hiddenDivMobile {
    display: block;
    height: 100px;
    width: 100%;
  }
}
/* hides small screen resume header on large screens */
@media (min-width: 668px) {
  .hideLarge {
    display: none !important;
  }
}
/* div that contains my picture */
.headerBox {
  height: auto;
  width: inherit;
  background-color: #403A34;
  margin-bottom: 10px;
  display: flex;
}
.myImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 3px 5px 5px 5px;
  border: 1px solid black;
}

@media (max-width: 668px) {
  .myImg {
    margin-top: 10px;
  }
}

.headerBox .myName {
  margin-top: 20px;
  margin-left: 10px;
  color: #cccdcf;
  font-size: 30px;
}

.aboutParas {
  font-size: 16px;
  margin-top: 30px;
}

/* social media button styling*/
i {
  color: #999c9f;
  margin: 2px;
}

i:hover {
  color: #cccdcf;
}

/* about page columns */
.aboutPgColum {
  border: 1px solid black;
  height: auto;
  margin: 20px 15px 2px 15px;
  background-color: #eee6d8;
  box-shadow: 4px 4px 0px 0px #343A40;
}

/* box for resume/portfolio/blog pages */
.boxContainer {
  width: 90%;
  max-width: 900px;
  height: auto;
  min-height: 400px;
  margin: 10px auto 0 auto;
  padding: 15px;
  background-color: #eee6d8;
  border: 1px solid black;
  box-shadow: 4px 4px 0px 0px #343A40;
}

/* general styling for links */
[href] {
  color: #202529;
}

[href]:hover {
  color: #cccdcf;
}

.topHr, .lowHr {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lowHr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.topHr {
  border-top: 1px solid black;
}

.resumeEdu {
  font-style: italic;
  font-size: 16px;
}

/* print resume button positioning */
#resumeBtn {
  display: block;
  margin: 15px auto 50px auto;
}

/* prepare resume for print */
@media print {
  .noPrint {
    display: none !important;
  }

  a {
    text-decoration: none !important;
  }
}
.blogDates {
  text-decoration: underline;
  margin-bottom: 30px;
}

.anchor {
  padding-top: 70px;
}

.blogHeader {
  display: flex;
  margin-top: 7px;
}

.blogLinks {
  margin: auto;
  margin-bottom: 11px;
}

.blogLinks a {
  text-decoration: underline;
}

.boxContainer img {
  max-width: 50%;
  border: 1px solid black;
  margin-bottom: 20px;
}

.boxContainer h4 {
  margin-bottom: 20px;
}

.blogPara1 {
  margin-top: 30px;
}

.blogSpan {
  margin-left: 20px;
  font-size: 16px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.portfolioProj {
  display: flex;
}

.portfolioLink {
  padding-top: 3px;
  margin-left: 25px;
  text-decoration: underline;
}

.portfolioLink a {
  margin-right: 16px;
}

.projectDesc {
  max-width: 600px;
}

.indexBody {
  padding-top: 51px;
}

.container h5 {
  padding-top: 10px;
}

.alignCenter {
  text-align: center;
}

.zeroMargin {
  margin: 0;
}

.largerFont {
  font-size: 18px;
}

.floatRight {
  float: right;
}

.collegeName {
  float: right;
  margin-top: 5px;
  font-size: 14px;
}

.emptyDiv {
  height: 100px;
  width: 100%;
}

.subHr {
  max-width: 200px;
}

/*# sourceMappingURL=styles.css.map */
