
body {
    background-color: #867A6D;
    font-family: monospace;
    height: 100%;
}

footer {
    background-color: #343A40;
    color: #999c9f;
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    margin-top: 20px;
    position: fixed;
}

footer [href] {
    color: #999c9f;
}


/* sets custom min-width for bootstrap navbar */
@media (min-width: 550px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

@media (max-width: 551px) {
    .hidePrintBtnMobile {
        display: none !important;
    }
    .hiddenDivMobile {
        display: block;
        height: 100px;
        width: 100%;
    }
}

/* about me picture */
#myPic {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

/* div that contains my picture */
.headerBox {
    height: auto;
    width: inherit;
    background-color: #403A34;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

#pictureBox {
    height: 180px;
    width: 180px;
    background-color: #867A6D;
    padding-top: 4px;
}

/* social media buttons */
i {
    color: #999c9f;
    margin: 2px;
}

i:hover {
    color: #cccdcf;
}

/* about page columns */
#first {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    background-color:#aaa296;
}

#second {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    background-color:#aaa296;
}

#third {
    border: 1px solid black;
    height: 100px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-left: 1px;
    background-color:#aaa296;
}

/* resume page div */
#resumeDiv {
    width: 90%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 15px;
    background-color: #aaa296;
    border: 1px solid black;
}

[href] {
    color: #202529;
}

[href]:hover {
    color: #cccdcf;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.resumeEdu {
    font-style: italic;
    font-size: 16px;
}

#resumeBtn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

@media print {
    .noPrint {
        display: none !important;
    }

    a {
        text-decoration: none !important;
    }
}



