// color variables
$link: #999c9f;
$linkHover: #cccdcf;
$textBox: #aaa296;

body {
    background-color: #867A6D;
    font-family: monospace;
    height: 100%;
    // padding neccessary for fixed nav bar
    padding-top: 70px
}

// fixed footer
footer {
    background-color: #343A40;
    color: $link;
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    margin-top: 20px;
    position: fixed;
}

// footer link styling
footer [href] {
    color: $link;
}


/* sets custom min-width for bootstrap navbar */
@media (min-width: 667px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

/* hides large screen resume header on small screens */
@media (max-width: 667px) {
    .hideMobile {
        display: none !important;
    }

    /* 
    invisible div at bottom of screen to replace
    button space on small screens
     */
    .hiddenDivMobile {
        display: block;
        height: 100px;
        width: 100%;
    }
}

/* hides small screen resume header on large screens */
@media (min-width: 668px) {
    .hideLarge {
        display: none !important;
    }
}

/* div that contains my picture */
.headerBox {
    height: auto;
    width: inherit;
    background-color: #403A34;
    margin-bottom: 10px;
    display: flex;

    // styling for my picture
    img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: 10px 5px 5px 5px;
        border: 1px solid black;
    }

    // styling for the header of my about page
    .myName {
        margin-top: 20px;
        margin-left: 10px;
        color: $linkHover;
        font-size: 30px;
    }
}

.aboutParas {
    font-size: 16px;
    margin-top: 30px;
}

/* social media button styling*/
i {
    color: $link;
    margin: 2px;
}

i:hover {
    color: $linkHover;
}

/* about page columns */
.aboutPgColum {
    border: 1px solid black;
    height: auto;
    margin: 10px 1px 2px 1px;
    background-color: $textBox;
}

/* box for resume/portfolio/blog pages */
.boxContainer {
    width: 90%;
    height: auto;
    min-height: 400px;
    margin: 10px auto 0 auto;
    padding: 15px;
    background-color: $textBox;
    border: 1px solid black;
}

/* general styling for links */
[href] {
    color: #202529;
}

[href]:hover {
    color: $linkHover;
}

%hrStyling {
    border: 0;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lowHr {
    @extend %hrStyling;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.topHr {
    @extend %hrStyling;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

// resume pg text styling
.resumeEdu {
    font-style: italic;
    font-size: 16px;
}


/* print resume button positioning */
#resumeBtn {
    display: block;
    margin: 15px auto 50px auto;
}

/* prepare resume for print */
@media print {
    .noPrint {
        display: none !important;
    }

    a {
        text-decoration: none !important;
    }
}

// styling and formatting for blog page
.blogDates {
    text-decoration: underline;
    margin-bottom: 30px;
}

.anchor {
    padding-top: 70px;
}

.blogHeader {
    display: flex;
    margin-top: 7px;
}

.blogLinks {
    margin: auto;
    margin-bottom: 11px;
}

.blogLinks a {
    text-decoration: underline;
}

.boxContainer img {
    max-width: 50%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.blogPara1 {
    margin-top:30px;
}

.blogSpan {
    margin-left: 20px;
    font-size: 16px;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

// style and formatting for portfolio page
.portfolioProj {
    display: flex;
}

.portfolioLink {
    margin-left: 30px;
    text-decoration: underline;
}

.projectDesc {
   max-width: 50%;
}

// style and formatting for index page

.indexBody {
    padding-top: 51px;
}

.container h5 {
    padding-top: 10px;
}

// style and formatting for resume page

.alignCenter {
    text-align: center;
}

.zeroMargin {
 margin: 0;
}

.largerFont {
    font-size: 18px;
}

.floatRight {
    float: right;
}

.collegeName {
    float: right;
    margin-top: 5px;
    font-size: 14px;
}

// all pages

.emptyDiv {
    height: 100px;
    width: 100%;
}
